oneva/HDRClientWsdl/xsd/Basedatatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Thu Feb 28 14:29:22 MST 2008
== Model: VHIM
== Package: Basedatatypes
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:basedatatypes="Basedatatypes" targetNamespace="Basedatatypes" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<!-- ================================================== -->
	<!-- =====  Complex Type Definitions  -->
	<!-- ================================================== -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72CodedElement  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72CodedElement">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="displayText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="codingSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="alternateCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="alternateDisplayText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="alternateCodingSystem" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72CodedElementLite  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72CodedElementLite">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="displayText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="codingSystem" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72EntityIdentifier  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72EntityIdentifier">
		<xsd:sequence>
			<xsd:element name="identity" type="xsd:string"/>
			<xsd:element name="namespaceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="universalId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="universalIdType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72FacilityIdentifier  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72FacilityIdentifier">
		<xsd:sequence>
			<xsd:element name="namespaceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="universalId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="universalIdType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72LocationIdentifier  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72LocationIdentifier">
		<xsd:sequence>
			<xsd:element name="pointOfCare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="room" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bed" type="xsd:string" minOccurs="0"/>
			<xsd:element name="facilityNamespaceId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="facilityUniversalId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="facilityUniversalIdType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="personLocationType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="locationDescription" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72OrganizationIdentifier  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72OrganizationIdentifier">
		<xsd:sequence>
			<xsd:element name="identity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assigningAuthority" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72PersonIdentifier  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72PersonIdentifier">
		<xsd:sequence>
			<xsd:element name="identity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assigningFacility" type="xsd:string" minOccurs="0"/>
			<xsd:element name="assigningAuthority" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  HL72PersonName  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="HL72PersonName">
		<xsd:sequence>
			<xsd:element name="prefix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="given" type="xsd:string" minOccurs="0"/>
			<xsd:element name="middle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="family" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suffix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="title" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  Money  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="Money">
		<xsd:sequence>
			<xsd:element name="currency" type="basedatatypes:HL72CodedElementLite" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  PhysicalQuantity  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="PhysicalQuantity">
		<xsd:sequence>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="unit" type="basedatatypes:HL72CodedElementLite" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!--  PointInTime  -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<xsd:complexType name="PointInTime">
		<xsd:sequence>
			<xsd:element name="literal" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
